*{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.child{
   background-color: black;
   color: aliceblue;
   position: fixed;
   padding: 30px 70px;
   margin: 620px 1230px;
   text-align: left;
  
 }

 p{
    size: 1px;
 }